<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbDiDNLu3mQ-JNH5-JZxEL8t8wz6pkInA</string>
	<key>GCM_SENDER_ID</key>
	<string>722093829050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.dkon.app</string>
	<key>PROJECT_ID</key>
	<string>dkont-9f30d</string>
	<key>STORAGE_BUCKET</key>
	<string>dkont-9f30d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722093829050:ios:145fd832eeaa4a2bb40b83</string>
</dict>
</plist>